@import "tailwindcss";

@theme {
  --color-primary:  #7C3AED;
  --color-container: #6629C1;
  --color-background: #2C1A40;
}
body {
  background: #1A1625;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
